* {
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

body {
  /* Standard font that gets overridden in styling */
  font-family: Helvetica, sans-serif;
  background-color: #42464a;
  overflow-y: scroll;
  overflow-x: hidden;
}

h2 {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #a2d4ff;
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  background-color: #27292c;
}
header img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #202020;
}

nav {
  display: flex;
  width: 100%;
  background-color: #27292c;
  border-bottom: 2px solid #202020;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #ffdd59;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 12px;
}
nav a:hover {
  color: #BADBFF;
}
nav .currentLink {
  text-decoration: underline;
  color: #ffdd59;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  color: #dcdcdc;
  font-size: 16px;
  max-width: 90%;
  margin: 0 auto;
  /* Dynamic project */
}
main article {
  display: grid;
  grid-template-columns: 1fr;
}
main article #cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
main article #cards #card {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 0 3px 10px #848C99;
}
main article #cards #card a {
  text-decoration: none;
}
main article #cards #card img {
  width: 100%;
  height: auto;
}
main article #cards #card img:hover {
  cursor: pointer;
}
main article #cards #card button {
  display: grid;
  grid-template-columns: 1fr;
  color: red;
  text-decoration: none;
  text-align: center;
  width: 100%;
  /* inherits size of container, aka wherever the img tag is placed */
  height: 100%;
  background-color: #5B697A;
  color: #d9dadb;
  border: none;
}
main article #cards #card button:hover {
  cursor: pointer;
}
main article #cards #card button h4 {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  font-size: 16px;
}
main article #cards #card button p {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 18px;
}
main p {
  padding: 2px;
}
main footer {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  margin-bottom: 4em;
  grid-gap: 1em;
  justify-content: center;
}
main footer a {
  width: 50px;
  height: 50px;
}
main footer a img {
  width: 100%;
  height: auto;
  filter: invert(1) sepia(0) saturate(3) hue-rotate(110deg);
}
main #dynamic-project-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
main .name {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #a2d4ff;
  margin-top: 1em;
  margin-bottom: 1em;
}
main .btn-back {
  color: #2596be;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: 900;
  background: transparent;
  border: none;
  cursor: pointer;
}
main .btn-forward {
  color: #ff9800;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: 900;
  background: transparent;
  border: none;
  cursor: pointer;
}
main #dynamic-project-content {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1em;
}
main #dynamic-project-content a {
  text-decoration: none;
  color: antiquewhite;
}
main #dynamic-project-content img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 4px;
}
main .content {
  margin-bottom: 1em;
  width: 100%;
}
main #imagea {
  width: 100%;
}
main #imageb {
  width: 100%;
}
main #imagec {
  width: 100%;
}
main #imaged {
  width: 100%;
}

@media (min-width: 1025px) {
  /* CSS */
  main {
    width: 50%;
  }
  main #contact {
    width: 50%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
